body {
  padding-top: 70px;
  padding-bottom: 70px;
}

a:focus, a:active {
  outline: 0;
}

.noresize {
  resize: none;
}

.data-cloak {
  display: none;
}

.panel-dark {
  border-color: transparent;
}

.panel-dark>.panel-body {
  background-color: #38495a;
}

.panel-dark>.panel-heading {
  background-color: #485563;
  color: #ebebeb;
  border-color: transparent;
}

.dropdown-dark>.dropdown-menu {
  background-color: #384656;
}

.date-dark>.dropdown-menu {
  background-color: #384656;
}

.date-dark .dropdown-menu:before, .date-dark .dropdown-menu:after {
  border-color: transparent !important;
}
